
.sign-in-out {
    /* border: 2px solid red; */
    display: flex;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: center;
}

.page-content {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.page-title {
    border: 2px solid blue;
}

.splash {
    border: 2px solid salmon;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.habit-container {
    display: flex;
    flex-direction: row;
    
}